<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FIRST  CRUD CRAP WOW ME HAHA</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Hello Worweweld!</h1>
    
    <form action="/quotes" method="POST">
        <input type="text" placeholder="name" name="name">
        <input type="text" placeholder="quote" name="quote">
        <button type="submit">Submit</button>
        
    </form>
    <div>
        <h2>Darth Vader invades!</h2>
        <p>Replace empty quotes with evil quotes</p>
        <button id="updateButton">Replace Empty Quote</button>
        <button id="deleteLazy">DELETE lazy peons!</button>
    </div>
    <div id="message"></div>
    <h2>Quotes</h2>
    <ul class="quotes">
        <% for(i=0;i<quotes.length;i++) {%>
            
            <li class="quote">
                <span><%= quotes[i].name %>:</span>
                <span><%= quotes[i].quote %></span>
            </li>
            
        <% } %>
    </ul>
    
    <script src="/main.js"></script>
</body>
</html>